@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;

$-arrow-height: func.units(3);            // Must match arrowHeight in src\js\components\tooltip.js
$-arrow-dist-to-target: func.units(2);    // Must match arrowDistanceToTarget in src\js\components\tooltip.js

fds-tooltip-icon,
.fds-tooltip-icon {
    position: relative;
    width: fit-content;
    height: fit-content;
    line-height: 1;
    display: inline-flex; // Display MUST be flex or inline-flex, otherwise screenreaders will read a help button as part of the label for text input
    vertical-align: bottom;

    .button .icon-svg {
        margin: 0;
    }

    .tooltip {
        line-height: 1.5;
        font-size: func.font-size('xs');
        font-weight: func.font-weight('normal');
        color: func.color(vars.$tooltip-color);
        box-shadow: func.shadow('light');
        background-color: func.color(vars.$tooltip-background-color);
        border-radius: func.border-radius('small');
        padding: func.units(2) func.units(305);
        z-index: vars.$zindex-tooltip;
        display: block;
        overflow-wrap: break-word;
        position: fixed;
        bottom: auto;

        &::before {
            content: '';
            border-right: calc($-arrow-height + 1px) solid transparent;
            border-left: calc($-arrow-height + 1px) solid transparent;
            display: block;
            position: absolute;
            left: calc(50% - $-arrow-height - 1px);
            top: calc(0px - $-arrow-height - $-arrow-dist-to-target);
            z-index: vars.$zindex-tooltip + 1;
        }

        &.open-left::before {
            right: func.units(305);
            left: auto;
        }

        &.open-right::before {
            left: func.units(305);
            right: auto;
        }
    }

    .tooltip-arrow {
        pointer-events: none;

        &::before {
            content: '';
            border-right: calc($-arrow-height + 1px) solid transparent;
            border-left: calc($-arrow-height + 1px) solid transparent;
            display: block;
            position: absolute;
            left: calc(50% - $-arrow-height - 1px);
            top: calc(0px - $-arrow-height - $-arrow-dist-to-target);
            z-index: vars.$zindex-tooltip + 1;
        }
    }
}