@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;

fds-upload-file,
.fds-upload-file {
    display: block;
    max-width: vars.$typography-text-max-width;
    margin-top: func.units(5);

    .fds-upload-label {
        display: block;
        margin-bottom: func.units(3);
        font-weight: func.font-weight('medium');
    }

    &:has(fds-help-text) .fds-upload-label {
        margin-bottom: 0;
    }

    .fds-upload-dropzone {
        position: relative;
        border: 2px dashed func.color('gray-400');
        border-radius: 4px;
        text-align: center;
        position: relative;
        margin-top: func.units(3);
    }

    .fds-upload-file-list {
        border: 2px dashed func.color('gray-400');
        border-radius: 4px;
    }

    &:has(fds-error-message:not([targets]):not([hidden]), fds-error-message:not([targets])[hidden="false"]),
    &:has(.fds-error-message:not([targets]):not([hidden]), .fds-error-message:not([targets])[hidden="false"]) {

        .fds-upload-dropzone,
        .fds-upload-file-list {
            border: 2px dashed func.color(vars.$input-border-color-feedback-error);
        }

    }

    .fds-upload-file-item-error {
        background-color: #FFE0E0;
    }

    .fds-upload-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
    }

    .fds-upload-dropzone:has(.fds-upload-input:focus) {
        border-color: transparent;
        outline: vars.$theme-focus-width vars.$theme-focus-style func.color("focus");
    }

    .fds-upload-dropzone-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: func.units(3);
        padding: func.units(5);
        cursor: pointer;
    }

    .fds-upload-dropzone-content p {
        margin: 0px;
    }

    .fds-upload-dropzone--highlight {
        border-color: #707070;
        background-color: #F5F5F5;
    }

    .icon-svg {
        display: block;
    }

    .fds-upload-choose,
    .fds-upload-add-more {
        color: func.color(vars.$theme-color-link);
        text-decoration: underline;
        cursor: pointer;
        background-color: transparent;

        &:hover {
            color: func.color(vars.$theme-color-link-hover);
        }
    }

    .fds-upload-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid func.color('gray-300');

        .fds-upload-title {
            margin: 0px;
        }
    }

    .fds-upload-file-item {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-bottom: 1px solid func.color('gray-300');

        &:last-child {
            border-bottom: none;
        }
    }

    .fds-upload-file-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .fds-upload-file-name {
        flex-grow: 1;
    }

    .fds-upload-remove {
        display: flex;
        align-items: center;
        gap: 1rem;
        background: none;
        border: none;
        cursor: pointer;
        text-decoration: underline;
    }

    .fds-upload-dropzone:has(.fds-upload-input:disabled) {
        cursor: not-allowed;
        opacity: 0.6;
        border-color: #ccc;
        background-color: #f9f9f9;

        .fds-upload-dropzone-content,
        .fds-upload-choose {
            cursor: not-allowed;
            color: func.color(vars.$typography-body-text-color);
            pointer-events: none;
        }

        .fds-upload-input {
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    .fds-upload-label.disabled {
        color: func.color(vars.$input-disabled-text-color);
    }
}