@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;
@use "../placeholder-selectors";

$input-top-bottom-padding-feedback: calc(8px - #{vars.$input-border-width-feedback});
$input-left-right-padding-feedback: calc(16px - #{vars.$input-border-width-feedback});

fds-date-input,
.fds-date-input {
    display: block;
    margin-top: func.units(5);

    &:first-child {
        margin-top: 0;
    }

    legend {
        @include mixins.form-label-text;
    }

    fieldset {
        & > div {
            display: flex;
            align-items: flex-end;
            margin-top: func.units(3);
        }

        &:disabled {
            legend {
                color: func.color(vars.$input-disabled-text-color);
                font-weight: func.font-weight('medium');
            }

            label {
                color: func.color(vars.$input-disabled-text-color);
            }

            input {
                background-color: func.color(vars.$input-disabled-background-color);
                border-color: func.color(vars.$input-disabled-border-color);
                color: func.color(vars.$input-disabled-text-color);
                cursor: not-allowed;
            }
        }
    }

    label {
        display: inline-block;
        @include mixins.form-label-text;
        margin-top: 0;
        font-weight: func.font-weight("normal");
    }

    input {
        @extend %basic-form-element;
        border: func.border(vars.$input-border);
        color: func.color(vars.$input-text-color);
        font-size: func.font-size(vars.$input-font-size);
        line-height: func.units(vars.$input-line-height, 'rem');
        padding: calc(8px - #{func.border-width(vars.$input-border)}) calc(16px - #{func.border-width(vars.$input-border)});

        &::placeholder {
            color: func.color(vars.$input-placeholder-color);
            font-style: italic;
            opacity: 1;
            font-weight: func.font-weight("normal");
        }

        &[readonly] {
            background-color: func.color('gray-100');
            color: func.color(vars.$input-text-color);
            border: func.border('very-low-contrast');
            cursor: default;
        }
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        @include mixins.appearance-none;
        margin: 0;
    }

    [data-attribute="day"],
    [data-attribute="month"],
    [data-attribute="year"] {
        margin-right: func.units(4);
        margin-top: 0;
    }

    [data-attribute="day"] input,
    [data-attribute="month"] input {
        width: calc(2px + #{func.units(4)} + #{func.units(4)} + 2ch);
    }

    [data-attribute="year"] input {
        width: calc(2px + #{func.units(4)} + #{func.units(4)} + 4ch);
    }

    &:has(fds-error-message:not([targets]):not([hidden]), fds-error-message:not([targets])[hidden="false"]) input {
        border: vars.$input-border-width-feedback solid func.color(vars.$input-border-color-feedback-error);
        padding: $input-top-bottom-padding-feedback $input-left-right-padding-feedback;
    }

    // Year error styling
    &:has(fds-error-message[targets*="year"]:not([hidden]), fds-error-message[targets*="year"][hidden="false"]) [data-attribute="year"] input,
    // Month error styling
    &:has(fds-error-message[targets*="month"]:not([hidden]), fds-error-message[targets*="month"][hidden="false"]) [data-attribute="month"] input,
    // Day error styling
    &:has(fds-error-message[targets*="day"]:not([hidden]), fds-error-message[targets*="day"][hidden="false"]) [data-attribute="day"] input {
        border: vars.$input-border-width-feedback solid func.color(vars.$input-border-color-feedback-error);
        padding: $input-top-bottom-padding-feedback $input-left-right-padding-feedback;
    }
}