@use "../functions" as func;
@use "../mixins" as mixins;

fds-input,
.fds-input {
    display: block;
    margin-top: func.units(5);

    &:first-child {
        margin-top: 0;
    }

    .form-group{
        margin-top: 0;
    }

    .edit-wrapper {
        display: block;

        @include mixins.media-breakpoint-up(sm) {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .form-input {
            margin-right: 0;

            @include mixins.media-breakpoint-up(sm) {
                margin-right: func.units(3);
            }
        }

        .form-input-wrapper {
            margin-right: 0;

            @include mixins.media-breakpoint-up(sm) {
                margin-right: func.units(3);
            }

            .form-input {
                margin-right: 0;
            }
        }

        .edit-button {
            white-space: nowrap;
            margin-top: func.units(3);
        }
    }
}