@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;

$-error-summary-padding-left: calc(func.units(vars.$alert-padding, 'rem') + func.units(5, 'rem') + func.units(305, 'rem'));

fds-error-summary,
.fds-error-summary {
    display: block;

    >nav {
        background-color: func.color(vars.$alert-error-background-color);
        background-image: linear-gradient(to right, func.color(vars.$alert-error-border-color) 4px, transparent 4px);
        background-repeat: no-repeat;
        padding: func.units(vars.$alert-padding, 'rem');
        padding-left: $-error-summary-padding-left;
        position: relative;
        margin-top: 0;
        margin-bottom: func.units(8);
        border-radius: func.border-radius('medium');
    }

    >nav>svg {
        position: absolute;
        left: calc(func.units(vars.$alert-padding, 'rem') + func.units(2, 'rem'));
        height: func.units(vars.$typography-body-text-line-height, 'rem');
        width: func.units(vars.$typography-body-text-line-height, 'rem');
        vertical-align: middle;
        fill: currentColor;

        &:focus {
            outline: none;
        }
    }

    >nav>h1,
    >nav>h2,
    >nav>h3,
    >nav>h4,
    >nav>h5,
    >nav>h6 {
        @include mixins.responsive-style(vars.$alert-heading-fontsize, font-size);
        @include mixins.responsive-style(vars.$alert-heading-lineheight, line-height);
        margin-top: 0;
        margin-bottom: 0;
        font-weight: func.font-weight("semibold");
        color: func.color(vars.$alert-heading-color);
        overflow-wrap: break-word;
    }

    >nav>ul {
        list-style: none;
        margin: 0;
        padding: 0;
        color: func.color(vars.$alert-text-color);
        max-width: vars.$typography-text-max-width;
    }

    >nav>ul>li {
        list-style: none;
        margin: 0;
        margin-top: 8px;
        padding: 0;
        color: func.color(vars.$alert-text-color);
        max-width: vars.$typography-text-max-width;
    }

    >nav>ul>li::marker,
    >nav>ul>li::before {
        content: none;
    }

    >nav>ul a,
    >nav>ul a:link,
    >nav>ul a:active,
    >nav>ul a:visited,
    >nav>ul a:hover {
        color: func.color(vars.$alert-text-color);
    }

    &.alert--paragraph {
        max-width: 66ch
    }
}