@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;
@use "../placeholder-selectors";

.fds-main-menu {
    display: block;

    & > .main-menu-inner {
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;

        & > nav > ul {
            margin: 0;
            list-style-type: none;
            padding-left: 0;
            display: flex;
            flex-flow: row nowrap;
            margin-left: -12px;

            & > li {
                margin-bottom: 0;
                margin-top: 0;
                padding-left: 0;

                &::before {
                    content: "" !important;
                    padding-right: 0 !important;
                }

                & > a {
                    @extend %main-menu-item;

                    &[aria-current="page"] {
                        @extend %current-main-menu-item;
                    }
                }
            }
        }
    }
}

fds-drawer .fds-main-menu,
.fds-drawer .fds-main-menu {
    & > nav > ul {
        display: flex;
        flex-flow: column nowrap;
        max-width: 100%;
        border-bottom: 1px solid #bfbfbf;
        border-top: 1px solid #bfbfbf;
        margin: 0;
        list-style-type: none;
        padding-left: 0;

        li {
            border-top: 1px solid #dcdcdc;
            margin-bottom: 0;
            margin-top: 0;
            padding-left: 0;
            background-color: #fff;

            &::before {
                content: "" !important;
                padding-right: 0 !important;
            }

            &:first-child {
                border-top: 0;
            }

            a,
            .dropdown-button {
                padding-top: 16px;
                padding-bottom: 16px;
                padding-right: 24px;
                text-decoration: none;
                color: #1a1a1a;
                font-size: 1.6rem;
                background-color: rgba(0, 0, 0, 0);
                display: block;
                line-height: 2.4rem;
                white-space: normal;
                width: 100%;
                max-width: unset;
                cursor: pointer;
                text-align: left;
                border: 0;

                &:focus {
                    position: relative;
                    z-index: 2;
                }
                
            }

            & > a,
            & > fds-dropdown-menu > .dropdown-button {
                padding-left: 24px;

            }

            li > a,
            li > fds-dropdown-menu > .dropdown-button {
                padding-left: 48px;
            }

            li li > a,
            li li > fds-dropdown-menu > .dropdown-button {
                padding-left: 72px;
            }
        }

        & > li {
            &:has([aria-current="page"]) {
                border-left: 8px solid var(--color-primary);

                a,
                fds-dropdown-menu > .dropdown-button {
                    margin-left: -8px;
                    width: calc(100% + 8px);
                }

                & > a,
                & > fds-dropdown-menu > .dropdown-button {
                    font-weight: 700;
                }
            }
        }
    }
}

fds-solution-info + .fds-main-menu,
.fds-solution-info + .fds-main-menu {
    border-top: 1px solid #bfbfbf;
}