@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;

:not(fds-drawer) fds-portal-info,
:not(.fds-drawer) .fds-portal-info {
    .logo {
        background-image: url("#{vars.$image-path}#{vars.$header-portal-logo}");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center left;
        display: inline-block;
        height: vars.$header-portal-logo-height;
        width: vars.$header-portal-logo-width;

        @include mixins.media-breakpoint-up(vars.$nav-responsive-breakpoint) {
            max-width: 30%;
        }

        span {
            display: none;
        }
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .user {
        text-align: right;
        margin-right: 24px;
        overflow-wrap: break-word;
    }
}

fds-drawer .mobile-drawer fds-portal-info,
.fds-drawer .mobile-drawer .fds-portal-info {
    p {
        margin-bottom: 8px;
    }

    .user {
        text-align: left;

        span {
            display: block;
            overflow-wrap: break-word;
            line-height: 1.5;
        }
    }

    .log-on,
    .log-off {
        margin-top: 4px;
    }
}