@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;

$-transition-speed: 0.25s;

fds-modal {
    display: block;

    dialog {
        max-width: 800px;
        max-height: calc(100% - 32px);
        width: calc(100% - 32px);
        padding: 0;
        border: 0;
        border-radius: 8px;
        box-shadow: func.shadow('heavy');
        margin: auto;
        overflow-y: hidden;

        &[open] {
            display: flex;
            flex-direction: column;
        }

        & > form {
            display: flex;
            flex-direction: column;
            overflow-y: hidden;
        }

        &::backdrop {
            background-color: func.color(vars.$modal-overlay-background-color);
        }

        &:focus {
            outline: 0;
        }

        .scrollable-area,
        .fixed-area {
            padding: 24px;
            position: relative;
            overflow-wrap: break-word;

            @include mixins.media-breakpoint-up(md) {
                padding: 40px;
            }
        }

        .scrollable-area {
            overflow-y: auto;
            flex: 1 1 auto;
            position: relative;

            & > fds-modal-closer:last-child,
            & > .button-group:last-child {
                margin-top: 16px;

                @include mixins.media-breakpoint-up(md) {
                    margin-top: 32px;
                }
            }
        }

        .fixed-area {
            overflow-y: hidden;
            flex-shrink: 0;
        }

        .modal-title {
            margin-top: 1.6rem;
            margin-bottom: 0.8rem;
            overflow: hidden;

            @include mixins.media-breakpoint-up(md) {
                margin-top: 0;
                margin-bottom: 1.6rem;
            }
        }

        .modal-close {
            position: absolute;
            top: 8px;
            right: 8px;

            @include mixins.media-breakpoint-up(md) {
                top: func.units(5);
                right: func.units(6);
            }
        }

        .cookie-logo {
            margin-bottom: 0;

            @include mixins.media-breakpoint-up(md) {
                margin-bottom: 16px;
            }
        }

        // Cookie messages and step indicators have a fixed area. This may sometimes cause
        // an error in Chrome in the scrollable area where the scrollbar persists due to a
        // missing repaint. Prevent this by reserving space for the scrollbar with scrollbar-gutter.
        &:has(.fixed-area) {
            .scrollable-area {
                scrollbar-gutter: stable;
            }
        }
    }

    &[bottom-sheet] {
        dialog {
            margin: 0;
            margin-top: auto;
            width: 100%;
            max-width: none;
            border-radius: 8px 8px 0 0;
            max-height: 90vh;
            min-height: 40vh;

            translate: 0 100%;
            transition: translate $-transition-speed ease-out;

            &.bottom-sheet-open {
                translate: 0 0;
            }

            &::backdrop {
                background-color: transparent;
                transition: background-color $-transition-speed ease-out;
            }

            &.bottom-sheet-open::backdrop {
                background-color: func.color(vars.$modal-overlay-background-color);
            }

            .fixed-area {
                border-bottom: 1px solid #8E8E8E;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px 24px;

                .modal-title {
                    margin: 0;
                }

                .modal-close {
                    position: static;
                }
            }

            .scrollable-area {
                padding: 32px 24px 16px;
            }
        }
    }
}

html:has(dialog:modal) {
    overflow: hidden;
}

fds-modal-closer, 
fds-modal-opener {
    display: block;
}