@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;

.new-date-picker-wrapper {
    border: 1px solid func.color('black');
    width: fit-content;

    td[data-date]:focus {
        @include mixins.focus;
    }

    td[aria-selected="true"] {
        background-color: func.color('black');
        color: func.color('white');
    }
}