// Accordion
$accordion-button-default-background-color: "gray-10" !default;
$accordion-button-hover-background-color: "gray-20" !default;
$accordion-button-focus-background-color: "gray-10" !default;
$accordion-button-active-background-color: "gray-20" !default;
$accordion-panel-background-color: "white" !default;
$accordion-border-radius: 3px !default;
$accordion-panel-text-color: "black" !default;
$accordion-button-default-text-color: "black" !default;
$accordion-button-hover-text-color: "black" !default;
$accordion-button-focus-text-color: "black" !default;
$accordion-button-active-text-color: "black" !default;
$accordion-button-icon-color: "ink" !default;
$accordion-button-icon-collapsed: "minus.svg" !default;
$accordion-button-icon-expanded: "plus.svg" !default;


// Alerts
$alerts-border-width: 3 !default;
$alerts-heading-font-size: 0 !default;
$alerts-heading-color: "ink" !default;
$alerts-text-color: "ink" !default;
$alerts-default-background-color: 'gray-10' !default;
$alerts-default-border-color: 'gray-50' !default;
$alerts-success-border-color: "success" !default;
$alerts-success-background-color: "success-light" !default;
$alerts-info-border-color: "info" !default;
$alerts-info-background-color: "info-light" !default;
$alerts-warning-border-color: "warning" !default;
$alerts-warning-background-color: "warning-light" !default;
$alerts-error-border-color: "error" !default;
$alerts-error-background-color: "error-light" !default;

// Breadcrumbs
$breadcrumbs-color: 'ink' !default;

// Cards
$cards-background-color: 'white' !default;
$cards-heading-color: 'ink' !default;
$cards-text-color: 'gray-60' !default;
$cards-heading-large-text-color: 'gray-60' !default;
$cards-sub-header-text-color: 'gray-50' !default;

// Cookie message
$cookie-message-text-color: 'ink' !default;
$cookie-message-background-color: 'white' !default;

// Details
$details-text-color: 'ink';
$details-border-color: 'gray-30';

// Form
$form-hint-text-color: 'gray-50' !default;
$form-label-text-color: 'ink' !default;
$form-input-text-color: 'ink' !default;
$form-input-disabled-text-color: "gray-40" !default;
$form-input-readonly-text-color: "ink" !default;
$form-input-readonly-background-color: "transparent" !default;
$form-input-background-color: $theme-background-color !default;
$form-input-disabled-background-color: 'gray-10' !default;
$input-border-radius: 4px !default;
$input-border-width: 1px !default;
$input-top-bottom-padding: calc(8px - #{$input-border-width}) !default; //7px
$input-left-right-padding: calc(16px - #{$input-border-width}) !default; //15px
$input-font-size: $body-text !default;
$input-line-height: $body-text-line-height !default;
$input-standard-height: 4.0rem !default;
$input-top-margin: 1 !default;
$input-border-width-feedback: 2px !default;
$input-top-bottom-padding-feedback: calc(8px - #{$input-border-width-feedback}) !default;
$input-left-right-padding-feedback: calc(16px - #{$input-border-width-feedback}) !default;

$form-select-text-color: 'ink' !default;
$form-select-disabled-text-color: 'gray-40' !default;
$form-select-disabled-background-color: 'gray-10' !default;

$form-errormessage-text-color: 'error' !default;
$form-successmessage-text-color: 'success' !default;

// Header
$header-logo: 'logo-header-placeholder.png' !default;
$header-portal-background-color: $theme-background-color !default;

// Navigation
$navigation-active-border-color: 'primary' !default;
$navigation-active-border-color: 'primary' !default;
$navigation-hover-border-color: $navigation-active-border-color !default;
$navigation-focus-border-color: $navigation-active-border-color !default;
$navigation-default-link-color: 'gray-60' !default;
$navigation-active-link-color: 'gray-60' !default;
$navigation-hover-link-color: $navigation-default-link-color !default;
$navigation-hover-background-color: 'gray-10' !default;
$navigation-focus-background-color: 'transparent' !default;
$navigation-desktop-overflow-menu-expanded-background-color: 'gray-60' !default;
$navigation-overflow-menu-expanded-background-color: 'white' !default;
$navigation-desktop-overflow-menu-expanded-link-color: 'white' !default;
$navigation-overflow-menu-expanded-link-color: 'ink' !default;
$navigation-overflow-menu-expanded-active-link-color: 'primary' !default;


// Search
$search-button-text-color: 'ink';
$search-button-hover-background-color: 'gray-20';

//Tabs
$tabs-active-border-color: "primary" !default;


// Tag colors
$tag-color: "white" !default;
$tag-bg: "gray-60" !default;
$tag-hover-bg: "gray-50" !default;
$tag-active-bg: "black" !default;
$tag-focus-bg: "gray-60" !default;

// Overflow menu
$overflow-menu-button-text-color: 'ink';
$overflow-menu-button-background-color: 'white';
$overflow-menu-button-hover-background-color: 'gray-10';
$overflow-menu-list-background-color: 'white';
$overflow-menu-list-hover-background-color: 'gray-10';
$overflow-menu-list-text-color: 'ink';

// Sidenavigation
$sidenav-default-link-color: 'gray-60' !default;
$sidenav-hover-background-color: 'gray-10' !default;
$sidenav-hover-link-color: "primary" !default;
$sidenav-current-link-color: "black" !default;
$sidenav-current-background-color: 'gray-10' !default;
$sidenav-active-link-color: "black" !default;
$sidenav-active-border-width: 4px !default;
$sidenav-information-color: 'gray-50' !default;
$sidenav-current-information-color: 'gray-60' !default;
$sidenav-current-border-color: 'primary' !default;
$sidenav-locked-hover-background-color: 'white' !default;



// Skipnav
$skipnav-text-color: 'ink' !default;
$skipnav-background-color: 'white' !default;

// Tabnav
$tabnav-button-mobile-selected-default-background-color: 'gray-20' !default;
$tabnav-button-selected-default-background-color: 'white' !default;
$tabnav-button-default-background-color: 'gray-10' !default;
$tabnav-button-focus-background-color: 'gray-10' !default;
$tabnav-button-hover-background-color: 'gray-20' !default;
$tabnav-button-default-text-color: 'ink' !default;

// Tooltip
$tooltip-background-color: 'white' !default;
$tooltip-text-color: 'ink' !default;


/**
Buttons
 */

$button-border-width: 2px;
$button-border-color: 'black';
$button-color: 'black';

// Primary
$button-primary-default-color: "white" !default;
$button-primary-hover-color: $button-primary-default-color !default;
$button-primary-active-color: $button-primary-default-color !default;
$button-primary-focus-color: $button-primary-default-color !default;
$button-primary-background-color: "primary" !default;
$button-primary-border-color: "primary-dark" !default;
$button-primary-hover-background-color: "primary-dark" !default;
$button-primary-hover-border-color: "primary-darkest" !default;
$button-primary-active-background-color: "primary-darkest" !default;
$button-primary-active-border-color: "primary-darkest" !default;
$button-primary-focus-background-color: "primary"  !default;
$button-primary-focus-border-color: "primary-dark" !default;
$button-primary-border-width: $button-border-width !default;
$button-primary-border-color: "primary-dark" !default;

// Disabled
$button-disabled-background: "gray-10" !default;

$button-secondary-default-color: 'black' !default;
$button-secondary-hover-color: $button-secondary-default-color !default;
$button-secondary-active-color: $button-secondary-default-color !default;
$button-secondary-focus-color: $button-secondary-default-color !default;
$button-secondary-default-background: 'gray-10' !default;
$button-secondary-hover-background: 'gray-20' !default;
$button-secondary-active-background: 'gray-30' !default;
$button-secondary-focus-background: $button-secondary-default-background !default;
$button-secondary-default-border-color: 'gray-50' !default;
$button-secondary-hover-border-color: 'gray-50' !default;
$button-secondary-active-border-color: 'black' !default;
$button-secondary-focus-border-color: $button-secondary-default-border-color !default;

$button-disabled-background-color: "gray-10" !default;
$button-disabled-border-color: "gray-30" !default;
$button-disabled-color: "black" !default;

$button-tertiary-default-color: "black" !default;
$button-tertiary-hover-color: $button-tertiary-default-color !default;
$button-tertiary-active-color: $button-tertiary-default-color !default;
$button-tertiary-focus-color: $button-tertiary-default-color !default;
$button-tertiary-default-border-color: "gray-50" !default;
$button-tertiary-hover-border-color: "gray-60" !default;
$button-tertiary-active-border-color: "black" !default;
$button-tertiary-focus-border-color: "gray-50" !default;
$button-tertiary-default-background-color: "transparent" !default;
$button-tertiary-hover-background-color: $button-tertiary-default-background-color !default;
$button-tertiary-active-background-color: $button-tertiary-default-background-color !default;
$button-tertiary-focus-background-color: $button-tertiary-default-background-color !default;

$button-quaternary-default-color: "black" !default;
$button-quaternary-hover-color: $button-quaternary-default-color !default;
$button-quaternary-active-color: $button-quaternary-default-color !default;
$button-quaternary-focus-color: $button-quaternary-default-color !default;
$button-quaternary-default-border-color: "transparent" !default;
$button-quaternary-hover-border-color: $button-quaternary-default-border-color !default;
$button-quaternary-active-border-color: $button-quaternary-default-border-color !default;
$button-quaternary-focus-border-color: $button-quaternary-default-border-color !default;
$button-quaternary-default-background-color: "transparent" !default;
$button-quaternary-hover-background-color: "gray-20" !default;
$button-quaternary-active-background-color: "gray-30" !default;
$button-quaternary-focus-background-color: $button-quaternary-default-background-color !default;


// Header, footer & navigation colors
$color-header-background:     "gray-10" !default;
$color-footer-background:     "gray-60" !default;
$color-topmenu-background:    "gray-60"!default;
$color-subnav-background:     "gray-60"!default;
$color-page:                  "white" !default;

// Modal
$modal-overlay-background-color: "black-transparent-70" !default;
$modal-background-color: 'white' !default;
$modal-text-color: 'ink' !default;
