@mixin body-text {
  font-size: $body-text;
  line-height: $body-text-line-height;
  font-weight: $font-weight-normal;
  text-transform: none;
}

@mixin color-text-positive {
  color: color('success');
}

@mixin color-text-negative {
  color: color('error');
}
